.jumbotron{
    text-align: center;

}

.col-6{
    margin-bottom: 30px;
}   

.radio{
    margin-left: 20px;
    margin-bottom:10px;
}

#final-page{
    text-align: center;
    border: solid black 2px;
   margin: auto;
   width:50%;   

}
#timer{
    text-align: center;
    color: red;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}